def find_all_paths(graph, start, end, path=[],cost=0):
        path = path + [start]
        cost = cost
        if start == end:
            return [path+[cost]]
        if not graph.has_key(start):
            return []
        paths = []
        for node in graph[start][0]:
            if node not in path:
        index=graph[start][0].index(node)
        cost += graph[start][1][index]
                newpaths = find_all_paths(graph, node, end, path, cost)
                for newpath in newpaths:
                    paths.append(newpath)
                    cost=0
        return paths